<html ng-app="MsgApp">
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style> body {font-size: 1.5em;} </style>
    <title>Lecture14</title>
  </head>
  <body>
    <div ng-controller="MsgController">

      <button ng-click="showNumberOfWatchers()">Log # of watchers</button>
      <input type="text" ng-model="name"/>
      <div>
          <button ng-click="countOnce()">Up Once counter (once)</button>
          <button ng-click="upCounter()">Increment Counter</button>
      </div>
      <div>
          Once Counter : {{onceCounter}}
          Counter : {{counter}}
      </div>
    </div>
  </body>
</html>
